<div class="flex items-center space-x-3">
  <img src="<%= avatar(workspace_user.user) %>"
       class="w-10 h-10 rounded-full" alt="<%= workspace_user.user.name %>">
  <div>
    <p class="text-sm font-medium text-gray-900"><%= workspace_user.user.name %></p>
    <p class="text-xs text-gray-500"><%= workspace_user.role %></p>
  </div>
</div>
